.main {
  display: inline-block;
  display: grid;

  grid-template-rows: 30% 18% 18%;

  color: lightgray;
  font-family: "Saira", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0.1em;

  height: 100vh;
  width: 100vw;
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: 140%;
  background-image: linear-gradient(
      180deg,
      rgba(248, 191, 191, 0.247) 0%,
      #00000067 100%
    ),
    url(../../assets/shallow-focus-photography-of-railway-during-sunset-892541.jpg);
}

.greeter {
  text-align: center;
  align-self: center;
  width: 100vw;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.inputText {
  font-size: 16px;
  justify-self: center;
  align-self: center;
}

.inputText input {
  width: 270px;
  padding: 18px;
  box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
}
