.wrapper {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(254, 139, 139, 0) 0%,
      #00000096 100%
    ),
    url(../../assets/backpack.png);
  background-size: cover;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vw;
  width: 70vw;

  background-color: #bcdbdf7e;
  border-radius: 100%;
}

.message {
  color: white;
  font-family: Saira;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
}
