code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.greeter-text {
  display: flex;
  position: fixed;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
  color: white;
  font-family: Saira;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 155.2%;
  letter-spacing: 0.3em;
  width: 100%;
}
