.meditation-component {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 40%;
  background-color: #997aa5;
  color: white;
  font-family: "Saira", sans-serif;
  letter-spacing: 0.06em;
  line-height: 155.2%;
  width: 100vw;
  height: 500px;
  position: absolute;
  left: 0;
  top: 80vh;
  border-top-left-radius: 115px;
}

#mandala {
  width: 80px;
  height: 56px;
  padding: 0;
}

.meditation-item1 {
  justify-self: center;
  align-self: center;
}

.meditation-item2 {
  justify-self: left;
  align-self: center;
  font-size: 24px;
}

#breath {
  animation-name: breatheIn;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  transform-origin: 50% 50%;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text {
  margin-top: 39px;
  font-size: 8px;
  letter-spacing: 0.5em;
  font-weight: 200;
  display: flex;
  justify-content: center;
}

@keyframes breatheIn {
  0% {
    transform: scale(0.05);
  }

  100% {
    transform: scale(2);
    background-color: #341a3e;
  }
}
