#submitButton {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 53px;
  border-style: none;
  background: #bcdbdf;
  border-radius: 125px;

  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}
