body {
  margin: 0;
  background-color: #341a3e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.greeter-text {
  position: absolute;
  width: 219px;
  height: 77px;
  left: 80px;
  top: 76px;
  color: white;
  font-family: "Saira", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.2%;

  text-align: center;
  letter-spacing: 0.06em;
}
