.info-component {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 10% 5% 10% 10%;
  height: 800px;
  width: 100vw;
  position: fixed;
  top: 150px;
  background-image: url(./backgroundimg.svg);
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: 140%;
  font-family: "Saira", sans-serif;
}

.travel-info {
  color: white;
  justify-self: center;
  align-self: center;
  margin: 0px;

  grid-column-end: span 2;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 155.2%;
  letter-spacing: 0.11em;
}

.style-small {
  justify-self: center;
  align-self: center;
  grid-column: span 2;
  margin: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.46em;

  color: #ffffff;
}

.style-large {
  justify-self: center;
  align-self: center;
  grid-column: span 2;

  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.19em;
  color: white;
  margin: 0px;
}

.delay-info {
  justify-self: center;
  grid-column: span 2;
  margin: 0px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.19em;

  color: #40abb1;
}

#time {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.14em;

  color: #aafaff;
}

/* .time-line {
  justify-self: center;
  align-self: center;
  font-size: 42px;
  grid-column: span 2;
  letter-spacing: 0.1em;
  font-weight: 400;
} */
