.infoComponent {
  display: inline-block;
  font-family: "Saira", sans-serif;

  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 10% 10% 10% 10% 10%;
  height: 100vh;
  width: 100vw;
  background-position: 30% 20%;
  background-repeat: no-repeat;
  background-size: 140%;

  background-image: linear-gradient(
      180deg,
      rgba(248, 191, 191, 0.247) 0%,
      #00000067 100%
    ),
    url(../../assets/shallow-focus-photography-of-railway-during-sunset-892541.jpg);
}

.greeter {
  margin: 0;
  padding: 0;
  grid-column: span 2;
  text-align: center;
  align-self: center;
}

.waysvg {
  width: 150vw;
  position: absolute;
  top: 30%;
  left: -20%;
}

.styleSmall {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: span 2;
  margin: 0px;
  color: #40abb1;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.46em;
}

.styleLarge {
  justify-self: center;
  align-self: center;
  grid-column: span 2;
  width: 100vw;
  color: white;
  font-style: normal;
  font-weight: 1000;
  font-size: 48px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.19em;
  margin: 0px;
}

.delayInfo {
  justify-self: center;
  align-self: center;
  grid-column: span 2;
  margin: 0px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.19em;

  color: #40abb1;
}

#time {
  color: #94faff;
}
