#way-icon {
  width: 80px;
  height: 80px;
  padding: 0;
  color: white;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
  margin-left: 20px;
}

.info-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 10% 10% 3%;
  height: 800px;
  width: 100vw;
  position: absolute;
  top: 150px;
  border-top-left-radius: 130px;
  background-color: #f18b66;
  font-family: 'Saira', sans-serif;
}

.first-line {
  color: white;
  justify-self: left;
  align-self: center;
  font-size: 24px;
  column-span: 2;
}

#info-wrapper {
  text-align: center;
  grid-column-end: span 2;
  font-size: 25px;
}

.delays-line {
  justify-self: center;
  align-self: center;
  font-size: 24px;
  grid-column: span 2;
  letter-spacing: 0.5em;
  font-weight: 200;
}

.station-line {
  justify-self: center;
  align-self: center;
  font-size: 42px;
  grid-column: span 2;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-bottom: -20px;
}

.time-line {
  justify-self: center;
  align-self: center;
  font-size: 42px;
  grid-column: span 2;
  letter-spacing: 0.1em;
  font-weight: 400;
}
